__pycache__
.py[cod]
$py.class

.env
.venv
env
venv
ENV

.docker

.DS_Store
Thumbs.db

.vscode
.idea

backend/static/music/*.mp3

# Игнорируем внутренности Terraform (провайдеры, логи, состояние)
terraform/.terraform/
terraform/*.exe
terraform/*.tfstate
terraform/*.tfstate.backup
.terraform.lock.hcl

*.pem
*.key